body {
    background: #f9e933;
    font-family: 'Roboto', sans-serif;
}
body a {
    font-weight: bold;
    color:  #f00;
    text-decoration: none;
}
  
/* HEADER */

header, main, footer {
    min-width: 855px;
}
header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}
header {
    background: white;
    overflow: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
header h1 {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 3em;
    color: #b33;
    float: left;
    width: 570px;
}
header nav {
    float: right;
    width: 285px;
    padding-top: 10px;
}
  
/* MAIN */

main {
    background: white;
    overflow: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
main .left {
    float: left;
    width: 570px;
    padding-top: 10px;
}
main .left h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}
main .left h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    padding-top: 5px;
    padding-bottom: 5px;
}
main .right {
    float: right;
    width: 285px;
}
  
/* FOOTER */

footer h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    margin-bottom: 20px;
}
footer .contact p:nth-child(2){
    font-style: italic;
}
footer .left {
    float: left;
    width: 570px;
    padding-top: 10px;
}
footer .sitemap {
    float: right;
    width: 285px;
    padding-top: 10px;
}
footer .sitemapleft {
    float: left;
}
footer .sitemapright {
    float: right;
}